# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

install/
tensortype/cuda_kernels/build
tensortype/cuda_kernels/bitsandbytes/build
example/repl/repl
example/tokenizer/tokenizer
tokenizers.combo/rust/Cargo.lock
tokenizers.combo/rust/target

